
@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<link href="~/Content/blog.css" rel="stylesheet" />

<div class="container" style="margin-top:60px;">
    <div class="nav1-scroller py-1 mb-2" style="border-bottom: .1875rem solid #e0a200;">
        <nav1 class="nav1 d-flex justify-content-start" style="font-size:1.125rem;">
            <a class="p-2" style="color: #2A4E5F !important;" href="@Url.Action("Index","AboutAddiction")">Alcoholism</a><span class="p-2">|</span>
            <a class="p-2" style="color: #2A4E5F !important;" href="@Url.Action("Index","Reasons")">Reasons Why People Drink</a><span class="p-2">|</span>
            <a class="p-2" style="color: #2A4E5F !important;" href="@Url.Action("Index","Causes")">Causes and Risk Factors</a><span class="p-2">|</span>
            <a class="p-2" style="color: #2A4E5F !important;" href="@Url.Action("Index","BingeDrinking")">Binge Drinking</a>
            <a class="p-2" style="color: #fff !important; background-color: #f0ad00;" href="@Url.Action("Index","StaySober")">Stay Sober</a>
            <a class="p-2" style="color: #2A4E5F !important;" href="@Url.Action("Index","DataChart")">Drinking factsheet</a>
        </nav1>
    </div>
</div>
<main role="main" class="container">
    <div class="row">
        <div class="col-md-12 blog-main">
            <h2 class="blog-post-title">
                How to drink but not get drunk
            </h2>
            <div class="blog-post" style="word-wrap: break-word; word-break: normal;">
                <h3 class="h3">Set your limits</h3>
                <span style="margin-bottom: 1rem; display: block; width: 10%; height: 5px; background-color: #edab00;"></span>
                <p class="lead">You should determine how many drinks you will drink beforehand and stick to that number. We shouldn't drink more than four alcoholic beverages daily, according to a group of clever scientists. Everyone has a different tolerance level, so choose one that fits your needs rather than your friends. Consider the price of drinks. Check your finances before you go out and decide what you can afford to spend. Additionally, you should know that not all alcohol contains the same amount of alcohol. Following is a description of 'standard drinks' for different types of beverages.</p>
                <div style="text-align:center;"><img src="~/images/new4.jpg" alt="Alternate Text" style="width:60%;display:inline-block;" /></div>
            </div>

            <div class="blog-post" style="word-wrap: break-word; word-break: normal;">
                <h3 class="h3">Avoid drinking too quickly</h3>
                <span style="margin-bottom: 1rem; display: block; width: 10%; height: 5px; background-color: #edab00;"></span>
                <p class="lead">You can avoid getting drunk by spacing out your drinks. Make sure to let some time pass between drinks (for example, an hour) before getting another.What's that tasty craft beer? Drink it more slowly so that you can savour it. It'll be much more enjoyable, and you'll get more bang for your buck. It can be helpful to drink water or soft drinks in between alcoholic drinks (and to drink the alcoholic drinks slowly). </p>
            </div>
            <div class="blog-post" style="word-wrap: break-word; word-break: normal;">
                <h3 class="h3">Try saying no</h3>
                <span style="margin-bottom: 1rem; display: block; width: 10%; height: 5px; background-color: #edab00;"></span>
                <p class="lead">
                    You may find peer pressure difficult to resist, but if you've had enough, turn down the offer of a drink when you've had enough. For now, you can alter the subject and let them know you're good. It's more important to keep track of your drinking than to keep up with others.
                    Although it's understandable that you might worry about ridicule if you don't drink, it's rare to see this. It doesn't matter if you drink slower than some of your friends (the good ones), they'll still hang out with you.
                </p>
            </div>

            <div class="blog-post" style="word-wrap: break-word; word-break: normal;">
                <h3 class="h3">Drinking shots and rounds is not advisable</h3>
                <span style="margin-bottom: 1rem; display: block; width: 10%; height: 5px; background-color: #edab00;"></span>
                <p class="lead">
                    Buying a drink for your friends is fine, but if you're with a group of seven, the session can quickly spiral out of control. If you do that, you could lose all your savings and break your bank.
                    Additionally, sipping drinks instead of shots allows you to space them out more easily. You can tell your friends not to shoot you, or you can just discreetly disappear when they're headed to the bar.
                </p>
            </div>
            <div class="blog-post" style="word-wrap: break-word; word-break: normal;">
                <h3 class="h3">A friend of water is a friend of food</h3>
                <span style="margin-bottom: 1rem; display: block; width: 10%; height: 5px; background-color: #edab00;"></span>
                <p class="lead">If you choose to drink alcohol, you should also have water or a non-alcoholic drink (it doesn't matter what the drink is). Having a meal is always a good idea if you are drinking. You will also (hopefully) get a delicious treat while slowing the effects of alcohol.</p>
            </div>
            <div class="blog-post" style="word-wrap: break-word; word-break: normal;">
                <h3 class="h3">Take time to focus on other things</h3>
                <span style="margin-bottom: 1rem; display: block; width: 10%; height: 5px; background-color: #edab00;"></span>
                <p class="lead">While drinking, engage in an activity such as playing pool. Drinking alcohol won't help you if you're already in a bad mood. Talk to a friend about how you're feeling or do something relaxing.</p>
            </div>
            <div class="blog-post" style="word-wrap: break-word; word-break: normal;">
                <h3 class="h3">Have a plan B</h3>
                <span style="margin-bottom: 1rem; display: block; width: 10%; height: 5px; background-color: #edab00;"></span>
                <p class="lead">
                    Make sure you have a mate to stay on top of your drinking and keep you from doing stupid stuff. In the event you drink too much, that friend will be able to help.
                    You should plan where you will sleep before you start drinking. You should have some money set aside for a taxi or Uber, just in case.
                </p>
            </div><!-- /.blog-main -->

        </div><!-- /.row -->

</main>
<script src='~/Scripts/jquery-3.4.1.min.js'></script>